<footer>
    <div class="bgs">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-5 col-sm-6">
                    <h4>LOGO</h4>
                    <p>Faciliter l’accès des femmes à l’information, au conseil et au suivi de la santé de reproduction, de la santé maternelle, néonatale et infantile dans la région de Kédougou</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                        <p class="footer__title">Menu</p>
                        <ul class="nav nav-column">
                            <li class="nav-item"><a class="nav-link p-0" href="javascript:(0)">lorem 1</a></li>
                            <li class="nav-item"><a class="nav-link p-0" href="javascript:(0)">lorem 1</a></li>
                            <li class="nav-item"><a class="nav-link p-0" href="javascript:(0)">lorem 1</a></li>
                        </ul>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <p class="footer__title">Liens utiles</p>
                    <ul class="nav nav-column">
                        <li class="nav-item"><a class="nav-link p-0" href="javascript:(0)">lorem 1</a></li>
                        <li class="nav-item"><a class="nav-link p-0" href="javascript:(0)">lorem 1</a></li>
                        <li class="nav-item"><a class="nav-link p-0" href="javascript:(0)">lorem 1</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <p class="footer__title">Contact</p>
                    <ul class="nav nav-column">
                        <li class="nav-item">
                            <a [href]="phone.link" class="nav-link p-0">
                                <i class="material-icons">call</i> {{ phone.value }}
                            </a>
                        </li>
                        <li class="nav-item">
                             <a [href]="email.link" class="nav-link p-0">
                                <i class="material-icons">mail</i> {{ email.value }}
                            </a>
                        </li>
                        <li class="nav-item">
                             <a [href]="address.link" class="nav-link p-0">
                                <i class="material-icons">location_on</i> {{ address.value }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="content-copy">
                <p class="text p-0 m-0">© 2024 LOGO. Tous droits réservés.</p>

                <div class="mention-legal">
                    <a class="nav-link" href="javascript:(0)">Politique de confidentialité</a>
                    <div class="sep"></div>
                    <a class="nav-link p-0" href="javascript:(0)">Mentions Légales</a>
                </div>

                <div class="reseaux">
                    <a href="javascript:(0)">
                        <i class="material-icons">call</i>
                    </a>
                    <a href="javascript:(0)">
                        <i class="material-icons">mail</i>
                    </a>
                    <a href="javascript:(0)">
                       <i class="material-icons">location_on</i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>
