<div class="container">
  <div class="centre-box">
    <div class="row justify-content-center align-items-center centre-box-container">
      <div class="col-lg-6 d-none d-lg-block py-5">
        <img src="assets/images/login-image.svg" class="img-fluid img-left" alt="Titre du projet">
      </div>
      <div class="col-lg-6 bg-grey p-5">
          <div class="card-form">
           <img src="assets/images/logo-image.svg" id="logo" class="img-fluid"  alt="Titre du projet">
             <router-outlet>
             </router-outlet>
          </div>
         </div>
    </div>
  </div>
</div>
