.button {
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  background: 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: all 3s;

  display:flex;
  align-items: center;
  justify-content: center;
}

.button i.material-icons{
  margin:0;
  padding:0;
}

.button.focus-visible {
  -webkit-box-shadow: 0 0 0 2px var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color);
}

.button:focus:not(:disabled) {
  outline: 0;
}


a.button-primary,
button.button-primary {
  padding: 8px 20px;
  border-radius: 4px;
  border: 1.5px solid transparent;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--primary-color);
  color: #fff;
}

a.button-primary:hover,
button.button-primary:hover
{
  background-color: var(--primary-color);
}

a.button-outline-primary,
button.button-outline-primary {
  padding: 8px 20px;
  border-radius: 4px;
  border: 1.5px solid transparent;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--secondary-color);
  color: var(--primary-color);
}

a.button-outline-primary:hover,
button.button-outline-primary:hover
{
  background-color: rgba(28, 94, 171, .30)
}

/* BUTTON DISABLED EFFECT */
button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
