.check-custom-radio .label-check-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.check-custom-radio .label-check-radio {
  cursor: pointer;
  /* width: 100%; */
}

.check-custom-radio .label-check-radio .plan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e1e2e7;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  position: relative;
}

.check-custom-radio .label-check-radio .plan-details span {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #252f42;
}

.title-label {
  color: #000;
  -ms-flex-preferred-size: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.4px; /* 113.333% */
  margin-bottom: 20px;
}

.check-custom-radio .label-check-radio .plan-content:hover {
  -webkit-box-shadow: 0px 3px 5px 0px #e8e8e8;
  box-shadow: 0px 3px 5px 0px #e8e8e8;
}

.check-custom-radio
  .label-check-radio
  input[type="radio"]:checked
  + .plan-content:after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: var(--primary-color);;
  right: 18px;
  top: 18px;
  border-radius: 100%;
  border: 3px solid #fff;
  -webkit-box-shadow: 0px 0px 0px 2px var(--primary-color);;
  box-shadow: 0px 0px 0px 2px var(--primary-color);;
}

.check-custom-radio
  .label-check-radio
  input[type="radio"]:checked
  + .plan-content {
  border: 2px solid var(--primary-color);;
  background: #f9f5f9;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
